@font-face {
    font-family: "Helvetica";
    font-display: swap;
    src: url("../Fonts/Helvetica-Bold.woff2") format("woff2"), url("../Fonts/Helvetica-Bold.woff") format("woff"), url("../Fonts/Helvetica-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    font-display: swap;
    src: url("../Fonts/Helvetica.woff2") format("woff2"), url("../Fonts/Helvetica.woff") format("woff"), url("../Fonts/Helvetica.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}