/*Import variables */
@import "Styles/variables";

.video {
    position: relative;
    grid-column: 2;
}

.play {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url('/images/Features/Play.svg');
    position: absolute;
    left: 30px;
    bottom: 30px;
    border: 1px solid transparent;
    transition: .1s;

    &::after {
        content: "Watch the video";
        @include Ag13Text;
        color: $white;
        position: absolute;
        width: max-content;
        transform: translateX(-50%);
        left: 50%;
        top: calc(100% + 8px);
    }

    &:active {
        border-color: $black;
    }
}