/* Import variables */
@import "Styles/variables";

.logo {
    text-align: center;

    img {
        max-width: (235/12)+rem;
    }
    @media (max-width: $breakpoint900) {
        grid-column: 2/3;
    }
}